.root {
  /* ensure footer always appears at the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* base styles; these could be kept in global styles */
  font-family: "Inter", system-ui, sans-serif;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.myLinks {
  padding-left: 15px;
  padding-right: 15px;
  display: none;
  border-top-style: solid;
  border-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
}

.myLinks a {
  display: block;
  padding: 3px;
  color: black;
}

.myLinks a:hover,
.myLinks a:focus {
  color: var(--link-hover-color);
}

/* Style the hamburger menu */
.header a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  width: 100%;
  /* these values can be replaced with starter-specific css vars */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-right: 32px;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.container h2 {
  display: inline;
}

.header {
  composes: container;
  width: 100%;
  background-color: white;
  z-index: 12;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  color: rgb(36, 36, 36);
  display: block;
}
.header a:hover,
.header a:focus {
  color: var(--link-hover-color);
}

.main {
  flex: 1 0 auto;
}

.footer {
  composes: container;
  display: flex;
  gap: var(--space-3);
  background-color: rgb(38, 37, 37);
  min-height: 80px;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-2);
  color: white;
  padding-top: 10px;
}

.footer a:hover,
.footer a:focus {
  text-decoration: underline;
  color: var(--link-hover-color);
}
img {
  max-width: 65%;
  padding-top: 10px;
}
